/* FONDO DIFUMINADO */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(30, 18, 24, 0.55);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* MODAL */
.modal-box {
  width: 380px;
  background: #ffffff;
  border-radius: 24px;
  padding: 30px;
  position: relative;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.18);
  border: 1px solid #f0e6e8;
}

/* BOTON CERRAR */
.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;

  border: none;
  background: transparent;

  font-size: 18px;
  color: #6b1c32;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  transform: scale(1.1);
}

/* TITULO */
h2 {
  margin-bottom: 22px;
  color: #6b001f;
  font-size: 28px;
  font-weight: 700;
}

/* SELECTOR ROL */
.rol-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.rol-selector button {
  flex: 1;
  padding: 11px;

  border: none;
  border-radius: 12px;

  background: #f3ecee;
  color: #6b1c32;

  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

/* BOTON ACTIVO */
.activo {
  background: #7a0026 !important;
  color: white !important;
}

/* INPUTS */
input {
  width: 100%;
  padding: 14px;
  margin-top: 12px;

  border-radius: 14px;
  border: 1px solid #e5d7db;

  background: #faf7f8;
  font-size: 14px;

  outline: none;
  transition: 0.2s;
  box-sizing: border-box;
}

input:focus {
  border-color: #7a0026;
  background: white;
  box-shadow: 0 0 0 3px rgba(122, 0, 38, 0.08);
}

/* BOTON PRINCIPAL */
.btn-primary {
  width: 100%;
  margin-top: 18px;
  padding: 14px;

  border: none;
  border-radius: 14px;

  background: #7a0026;
  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  background: #5d001d;
  transform: translateY(-1px);
}

/* MENSAJE ERROR */
p {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
}